

h2 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    margin-left: 5%;
    margin-right: 5%;
}


body {
    background-color: rgb(9, 152, 247);
}

html {
    background-color: black;
}

body, html {
    height: 100%;
}

img {
    width:auto
}




/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/cat-yard-cat-cat-sleeping-preview.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.circle {
    height: 175px;
    width: 175px;
    background-color: rgba(243, 215, 174, 0.726);
    border-radius: 50%;
    margin-top: 225%;
  }


  a {
      text-decoration: none;
  }

  h1 {
    font-size: 3.8em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    position: absolute;
    margin-left: 10%;
  }